.accommodation-preview {
  margin-bottom: $baseMargin;
  display: block;
  @include clearfix();
  border-bottom: 1px solid $lightGrey;
  padding-bottom: $baseMargin;

  &.simple {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  &.disabled {
    opacity: 0.8;
  }

  &:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .left {
    width: 30%;
    float: left;

    img {
      width: auto;
      max-width: 100%;
      margin-bottom: $baseMargin/2;
    }

    ul.images {
      list-style: none;
      margin-left: 0px;
      @include clearfix();

      li {
        width: 25%;
        float: left;
        padding-right: 5px;

        img {
          margin-bottom: 0px;
        }

        a.set-image {
          display: block;

          &.active {
            border: 2px solid $green;
          }
        }
      }
    }
  }

  .right {
    width: 70%;
    float: right;
    padding: 0px $baseMargin;

    h4 {
      margin-bottom: $baseMargin/2;
    }
  }

  .discover-accommodation {
    margin-bottom: 5px;
    margin-top: -5px;
  }

  .bottom {
    @include clearfix();

    .bottom-left {
      display: block;
      float: left;
      width: 50%;
      
      .price, .price-label {
        font-family: $fancyFont;
        font-weight: $fancyExtraBold;
        text-transform: uppercase;
        line-height: 1;
        font-size: calculateRem(12px);
        display: block;
      }

      .price-label {
        color: $lightGrey;
      }

      .price {
        font-size: calculateRem(36px);
        color: $blue;

        &.original-price {
          font-size: calculateRem(22px);
          text-decoration: line-through;
          color: $red;
        }
      }
    }

    .button {
      float: right;
    }
  }

  .bundle, .period-notes {
    margin-top: 10px;    
    padding: 10px;
    @include border-radius(5px);
  }

  .availability-info {
    margin-top: 10px;    
    padding: 10px;
    @include border-radius(5px);    
    color: $blue;
    font-size: calculateRem(14px);
  }
}

.bundle, .period-notes {
  $titleheight: 30px;
  background-color: $yellow;
  padding: $baseMargin/2;
  @include border-radius(10px);

  .bundle-header {
    position: relative;
    min-height: $titleheight;
    padding-left: $titleheight + 10px;
    margin-bottom: 5px;

    img {
      height: $titleheight;
      width: $titleheight;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    span {
      display: inline;
      margin: 0px;
      font-size: 1rem;
      line-height: $titleheight;
      font-family: $fancyFont;
      font-weight: $fancyExtraBold;
      text-transform: uppercase;
      color: $red;
    }
  }

  .bundle-content, .period-notes-content {
      text-transform: none;
      font-family: $bodyFont;
      font-weight: normal;
      font-size: calculateRem(14px);
      color: White;
  }
}

.day-label{
  text-decoration: underline;
}