.section {
  @include clearfix;
  display: table;
  width: 100%;

  .block {
    width: 50%;
    //float: left;
    display: table-cell;
    vertical-align: top;

    &.red{
      background-color: $red;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.turqoise {
      background-color: $turqoise;
    }

    &.green{
      background-color: $green;
    }

    &.blue{
      background-color: $blue;
    }

    &.white{
      background-color: white;
    }

    &.image {
      position: relative;
      background-color: $blue;
      overflow: hidden;

      img {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: auto;
      }
    }

    .content-wrapper {
      margin: 0;
      max-width: $maxSiteWidth/2;
    }

    &:first-child {
      .content-wrapper {
        margin-left: auto;
      }
    }
  }
}
