.section-intro {
  text-align: center;

  &.intro-only {
    padding-top: $baseMargin*2;
    padding-bottom: $baseMargin*2;
  }
}

.section {
  @include clearfix;
  display: table;
  width: 100%;

  .block {
    width: 50%;
    //float: left;
    display: table-cell;
    vertical-align: top;

    &.red{
      background-color: $red;
      color: White;
    }

    &.yellow {
      background-color: $yellow;
      color: White;
    }

    &.turqoise {
      background-color: $turqoise;
      color: White;
    }

    &.green{
      background-color: $green;
      color: White;
    }

    &.blue{
      background-color: $blue;
      color: White;
    }

    &.white{
      background-color: white;
    }

    &.image {
      position: relative;
      background-color: $blue;
      overflow: hidden;
      background-size: cover;
      background-position: center center;

      img {
        display: none;
        /*position: absolute;
        top: 0%;
        left: 0%;
        width: auto;
        height: 100%;*/
      }
    }

    .content-wrapper {
      margin: 0;
      max-width: $maxSiteWidth/2;
      padding-top: $baseMargin*2;
      padding-bottom: $baseMargin*2;
    }

    &:first-child {
      .content-wrapper {
        margin-left: auto;
      }
    }
  }

  &.blocktype_three-panes {
    .column > .content-wrapper {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    .column {
      @include transition(all, .25s, ease-in-out);
      @include transform(scale(1));
      opacity: 1;
      cursor: pointer;
    }

    .column-holder:hover .column {
      opacity: 0.8;
      @include transform(scale(0.9));

      &:hover {
        opacity: 1;
        @include transform(scale(1));
      }
    }


  }
}

.section-ribbon {
  background-color: white;
  position:relative;
  padding: 4px 0px;

  .inner{
    border-top: 2px dashed $turqoise;
    border-bottom: 2px dashed $turqoise;
    padding: 4px 0px;
  }  
}
