.box {
  @include border-radius(10px);
  overflow: hidden;
  margin-bottom: $baseMargin;

  img {
    width: 100%;
    height: auto;
  }

  &.red {
    background-color: $red;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.turqoise {
    background-color: $turqoise;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue;
  }

  &.white {
    background-color: white;
  }
}
