.column-holder {
  @include clearfix;
  margin-left: -$baseMargin;
  margin-right: -$baseMargin;

  .column {
    float: left;

    &.third {
      width: 33.33%;
    }

    &.half {
      width: 50%;
    }

    &.main {
        width: 75%;
    }

    &.aside {
      width: 25%;
    }

    &.single-narrowed {
      float: none;
      width: 75%;
      margin: 0 auto;
    }
  }
}
