#follow {
  $size: 50px;
  $padding: 5px;

  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 100;

  #follow-inner {
    width: $size;
    overflow: visible;
    position: relative;
  }

  ul {
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;

    li {
      padding: $padding;
      background-color: $turqoise;
      margin-bottom: $padding;
      @include clearfix();
      width: 150px;
      height: $size;
      border-radius: 10px 0px 0px 10px;


      @include transition(all, .25s, ease-in-out);
      @include transform(translateX(0px));

      &:hover {
        @include transform(translateX(-100px));
      }

      a {
        display: block;
      }

      img, strong {
        display: block;
        float: left;
      }

      img {
        width: 40px;
        margin-right: 10px;
      }

      strong {
        width: 90px;
        color: White;
        font-family: $fancyFont;
        font-weight: $fancyExtraBold;
        text-transform: uppercase;
        text-align: center;

        span {
          font-size: 0.8em;
          display: block;
          line-height: 1;
          font-weight: normal;
        }
      }
    }
  }
}
