#footer {
  background: url(../img/footer-bg.png) no-repeat $turqoise bottom right;
  color: $blue;

  ul {
    list-style: none;
    margin-left: 0px;
  }

  ul.horizontal {
    li {
      opacity: 1;
      @include transition (all, .25s, ease-in-out);
    }

    &:hover {
      li {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer-block-row {
    @include clearfix;
    margin-bottom: $baseMargin;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .footer-block {
    width: 60%;
    float: left;

    .footer-block-column {
      float: left;
      width: 50%;
    }

    &.second {
      width: 40%;
    }
  }
}

#bottom-bar {
  background-color: $blue;
  color: $turqoise;
  text-align: center;
  font-size: calculateRem(16px);
}

#labels {
  background-color: white;
  position:relative;
  padding: 2px 0px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);

  .inner{
    border-top: 2px dashed $turqoise;
    border-bottom: 2px dashed $turqoise;
  }

  .content-wrapper {
    padding: 15px $baseMargin 5px $baseMargin;
  }
  .left {
    width: 30%;
    float: left;
    @include clearfix();

    a {
      display: inline-block;
      margin-right: $baseMargin;
    }

    img {
      display: block;
      max-height: 50px;
      width: auto;
    }
  }

  .right {
    width: 70%;
    float: left;
    @include clearfix();
    padding: 5px 0px;
    text-align: right;

    a {
      display: inline-block;
      margin-left: $baseMargin;
    }

    img {
      display: block;
      max-height: 40px;
      width: auto;
    }
  }
}
