$inputRadius: 5px;

.input-field, .frm_top_container {
  margin-bottom: $baseMargin;

  &:last-child {
    margin-bottom: 0px;
  }
}

label {
  font-family: $fancyFont;
  font-weight: $fancyExtraBold;
  text-transform: uppercase;
  display: block;

  &.white {
    color: White;
  }
}

label.checkbox {
  padding-left: 40px;
  position: relative;
  cursor: pointer;

  input {
    display: none;
  }

  .check {
    width: $baseMargin;
    height: $baseMargin;
    display: block;
    border: 1px solid $lightGrey;
    @include border-radius($inputRadius);
    position: absolute;
    top: 2px;
    left: 0px;
  }

  input:checked ~ .check:before {
    content: '';
    width: $baseMargin - 4;
    height: $baseMargin - 4;
    display: block;
    position: absolute;
    @include border-radius($inputRadius);
    top: 1px;
    left: 1px;
    background-color: $green;
  }

  .checkbox-info {
    display: block;
    font-family: $bodyFont;
    font-weight: normal;
    text-transform: none;
    font-size: calculateRem(16px);
  }
}

input,
select,
textarea{
  display: block;
  width: 100%;
  background-color: White;
  padding: 10px;
  font-size: calculateRem(18px);
  color: $bodyFontColor;
  @include border-radius($inputRadius);
  border: 1px solid $lightGrey;

  &::placeholder {
    font-style: italic;
    color: $lightGrey;
  }

  &:focus {
    outline: none;
  }

  .box & {
    border: 0px;
  }

  &.invalid {
    color: $red;
    border-color: $red;
  }
}

.input-with-icon {
  position: relative;
  display: block;

  i {
    background: url("../img/input-bg.png") no-repeat transparent top left;
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;

    &.date {
      background-position: 0 0;
    }

    &.adults {
      background-position: 0 -41px;
    }

    &.children {
      background-position: 0 -82px;
    }

    &.babies {
      background-position: 0 -164px;
    }

    &.pets {
      background-position: 0 -123px;
    }
  }

  input {
    padding-left: 41px;
  }
}

.number-input {
  $upDownWidth: 22px;
  position: relative;
  display: block;

  .up, .down {
    cursor: pointer;
    background-color: $turqoiseDark;
    color: $blue;
    font-family: $fancyFont;
    font-weight: $fancyExtraBold;
    font-size: calculateRem($upDownWidth);
    line-height: 32px;
    display: block;
    width: $upDownWidth;
    height: 100%;
    max-height: 43px;
    text-align: center;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    @include transition(all, .25s, ease-in-out);

    position: absolute;
    top: 0px;
    right: 0px;

    &:hover {
      color: White;
      background-color: $blue;
    }
  }

  .up {
    border-radius: 0px $inputRadius $inputRadius 0px;
  }

  .down {
    border-radius: $inputRadius 0px 0px $inputRadius;
  }

  .down {
    right: $upDownWidth;
    border-right: 1px solid $blue;
  }
}

.nf-form-fields-required {
  display: none;
}

.frm_message {
  padding: 20px;
  @include border-radius(10px);
  background-color: $turqoise;
  color: $blue;
}

.frm_error,
.frm-error {
  font-weight: $fancyExtraBold;
  color: $red;
}

.frm_submit {
  margin-bottom: $baseMargin;
}
