#top-bar {
  background-color: $turqoise;
  color: $blue;
  text-align: right;

  h5 {
    font-size: calculateRem(26px);
    margin-bottom: 0px;
  }


  strong, a{
    font-weight: $fancyExtraBold;
  }

  a {
    color: $red;
    text-decoration: none;
  }
}
