.hero {
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: $baseMargin*4 0;

  .logo-holder {
    margin-bottom: $baseMargin;
    display: block;
  }

  .logo {
    width: 300px;
    height: auto;
    margin: 0 auto;

    &.small {
      width: 200px;
    }
  }

  h1, h2 {
    color: White;
    text-shadow: 0px 0px 10px rgba(0,0,0, 0.8);
  }

  h2 {
    font-weight: $fancyRegular;
  }
}


