ul.usps {
  font-size: calculateRem(26px);
  font-family: $fancyFont;
  list-style: none;
  margin-left: 0px;

  i {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  &.white {
    color: White;
  }

  &.small {
    font-size: calculateRem(18px);
  }
}

ul {
  list-style: circle;
  margin-left: $baseMargin;
}

ul.horizontal, ol.horizontal {
  li {
    display: inline-block;
    margin-right: 10px;
  }
}
