#accommodation-booker {
  form {
    margin-bottom: $baseMargin;
  }
}

ul.price-detail {
  list-style: none;
  margin-left: 0px;

  li {
    @include clearfix();
    font-size: calculateRem(14px);
    padding: 5px 0px;

    span, strong{
      float: left;
    }

    span {
      width: 75%;
    }

    strong {
      text-align: right;
      font-weight: bold;
      width: 25%;
    }

    &.with-separator {
      border-top: 1px dashed white;
    }

    &.hidden {
      display: none;
    }

    &.total {
      border-top: 1px solid white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: $yellow;

      span, strong {
        width: 50%;
      }
    }

    &.info {
      text-align: right;
      font-size: 0.6em;
      font-style: italic;
    }

  }
}

.family {
  @include clearfix();

  .input-field {
    width: 25%;
    float: left;
    padding-right: $baseMargin;
  }
}


.period {
  @include clearfix();

  .input-field {
    width: 50%;
    float: left;
    padding-right: $baseMargin;
  }
}

#box-price-detail {
  &.loading {
    opacity: 0.2;
  }
}
