#accommodation-booker {
  form {
    margin-bottom: $baseMargin;
  }
}

.booking-summary {
  h4 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed $red;
  }

  ul {
    @include clearfix();
    padding: 0px;
    margin: 0px;  

    li {
      list-style: none;
      width: 50%;
      float: left;
      color: White;

      strong{
        text-transform: uppercase;
        color: $red;
        font-family: $fancyFont;
        display: block;
      }
    }
  }
}

ul.price-detail {
  list-style: none;
  margin-left: 0px;

  > li {
    @include clearfix();
    font-size: calculateRem(14px);
    padding: 5px 0px;

    span, strong{
      float: left;
    }

    span {
      width: 75%;
    }

    strong {
      text-align: right;
      font-weight: bold;
      width: 25%;
    }

    ul {
      margin: 0px 0px 0px $baseMargin/2;
      padding: 0px;
      font-size: 0.8em;
      font-style: italic;
      list-style: none;
    }

    &.with-separator {
      border-top: 1px dashed white;
    }

    &.hidden {
      display: none;
    }

    &.discount {
      border-top: 1px dashed white;
      font-weight: bold;
      text-transform: uppercase;
    }

    &.total {
      border-top: 1px solid white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: $yellow;

      > span, > strong {
        width: 50%;

        > #original-price, 
        > #total-price {
          width: 100%;
        }
      }

      #original-price {
        text-decoration: line-through;
        color: $red;
      }
    }

    &.info {
      text-align: right;
      font-size: 0.6em;
      font-style: italic;
    }

  }
}

.family {
  @include clearfix();

  .input-field {
    width: 50%;
    float: left;
    padding-right: $baseMargin;
  }
}


.period {
  @include clearfix();

  .input-field {
    width: 50%;
    float: left;
    padding-right: $baseMargin;
  }
}

#box-price-detail {
  @include transition(all, .3s, ease-in-out);
  @include transform(translateY(0px));
  opacity: 1;

  &.loading {
    opacity: 0.1;
    @include transform(translateY(100px));
  }
}
