@media only screen and (max-width: 1200px) {
  .hero {
    padding: 60px 0px;

    .logo-holder {
      max-width: 180px;
    }

    h1 {
      font-size: calculateRem(52px);
    }

    h2 {
      font-size: calculateRem(32px);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .section, .breadcrumbs {
    > .content-wrapper {
      max-width: 984px;    
    }    
  }

  #quick-booking {
    max-width: 984px;
  }

/*region HEADER*/
  #show-nav, #hide-nav {
    display: block!important;

    i {
      margin-left: 0px;
      position: initial;
      top: 0px;
    }
  }

  #show-nav {
    position: fixed;
    top: 60px;
    left: $baseMargin;
    z-index: 500;
  }

  #nav {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow-y: auto;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+50,0+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

    @include transition(all, .25s, ease-in-out);

    &.open {
      left: 0px;

      #hide-nav {
        right: $baseMarginMobile;
      }
    }

    #hide-nav {
      position: absolute;
      top: 20px;
      right: -100%;
      z-index: 1001;
      @include transition(all, .25s, ease-in-out);
    }

    > .content-wrapper {
      background-color: $red;
      min-height: 100vh;
      width: 75%;
      padding: 0px;
      margin: 0px;
    }

    .logo-holder {
      display: block;
      padding: $baseMarginMobile;

      img {
        max-width: 50%;
        margin: 0 auto;
      }
    }

    .menu-main-container,
    .menu-main_en-container,
    .menu-main_fr-container,
    .menu-main_de-container {
      > ul {
        > li {
          display: block;
          width: 100%;
          text-align: left;
          border-top: 1px solid darken($red, 15);

          > a {
            font-size: calculateRem(16px);
            padding: $baseMarginMobile/2 $baseMarginMobile;
          }

          &.current-menu-item,
          &:hover {
            > a {
              padding-top: $baseMarginMobile/2;
              border-top: 0px;
            }
          }

          > .sub-menu {
            opacity: 1;
            visibility: visible;
            position: static;
            width: 100%;
            height: auto;
            top: initial;
            left: initial;
            margin-left: 0px;
            background-color: darken($red, 15);
            @include transform(translateY(0px));

            box-shadow: initial;
            -webkit-box-shadow: initial;

            &:before {
              display: none;
            }

            > li {
              border-top: 1px solid darken($red, 15);              
            }

            li {
              border-top: 1px solid $red;
              border-bottom: 0px;

              a {
                color: White;
                font-size: calculateRem(16px);
                padding: $baseMarginMobile/2 $baseMarginMobile $baseMarginMobile/2 $baseMarginMobile*2;
              }

              > .sub-menu {
                position: static;
                width: 100%;
                display: block;
                visibility: visible;
                opacity: 1;
                background-color: transparent;
                @include transform(translateX(0px));
                border-left: 0px;

                box-shadow: initial;
                -webkit-box-shadow: initial;

                li {
                  border-top: 1px solid $red;
                  border-bottom: 0px;

                  a {
                    background-color: transparent;
                    font-weight: normal;
                    color: White;
                    font-size: calculateRem(14px);
                    padding: $baseMarginMobile/2 $baseMarginMobile $baseMarginMobile/2 $baseMarginMobile*3;

                    &:hover {
                      background-color: $red;
                      color: White;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /*endregion HEADER*/
}

@media only screen and (max-width: 730px) {
  body {
    font-size: 16px;
    padding-top: 0px;
  }

  .show-on-mobile {
    display: block!important;
  }

  .hide-on-mobile,
  #follow{
    display: none;
  }

  /*region SITE*/
  .content-wrapper {
    padding: $baseMarginMobile;
  }
  /*endregion SITE*/

  /*region PAGE*/
  h1, h2, h3, h4, h5 {
    margin-bottom: $baseMarginMobile;

    .sub {
      font-size: calculateRem(16px);
    }
  }

  h1 {
    font-size: calculateRem(36px);
  }

  h2 {
    font-size: calculateRem(32px);
  }

  h3 {
    font-size: calculateRem(28px);
  }

  h4 {
    font-size: calculateRem(24px);
  }

  h5 {
    font-size: calculateRem(20px);
  }

  img {
    &.alignleft,
    &.alignright,
    &.aligncenter {
      margin: 0px 0px $baseMarginMobile 0px;
      float: none;
      width: auto;
      max-width: 100%;
    }
  }

  p, ul, ol {
    margin-bottom: $baseMarginMobile;
  }
  /*endregion PAGE*/

  /*region SECTION*/
  .section-intro {
    &.intro-only {
      padding: $baseMarginMobile;
    }
  }
  /*endregion SECTION*/

  /*region COLUMNS*/
  .column-holder {
    margin-left: 0px;
    margin-right: 0px;

    .column {
      float: none;
      margin-bottom: $baseMarginMobile;

      &.main,
      &.aside,
      &.third{
        width: 100%;
      }

      > .content-wrapper {
        padding: 0px;
      }
    }
  }

  .section.blocktype_three-panes {
    .column {
      @include transition(all, 0s, linear);
    }

    .column-holder:hover {
      .column {
        opacity: 1;
        @include transform(scale(1));

        &:hover {
        }
      }
    }
  }
  /*endregion COLUMNS*/

  /*region BLOCKS*/
  .section {
    display: block;

    .block {
      width: 100%;
      display: block;

      &.image {
        height: 25vh;
      }

      .content-wrapper {
        padding: $baseMarginMobile;
        width: 100%;
        max-width: 100%;
      }
    }

    &.blocktype_double-half {
      padding-top: 22vh;
      position: relative;

      .block.image {
        height: 22vh;
        width: 100%;
        position: absolute;
        top: 0px;
        left:0px;
      }
    }
  }
  /*endregion BLOCKS*/

  /*region BUTTONS*/
  .button {
    padding: $baseMarginMobile/2 $baseMarginMobile;
    font-size: calculateRem(20px);
    margin-bottom: 10px;

    i {
      margin-left: $baseMarginMobile;
    }
  }
  /*endregion BUTTONS*/

  /*region LISTS*/
  ul.usps {
    font-size: calculateRem(20px);
  }
  /*endregion LISTS*/

  /*region TOPBAR*/
  #top-bar {
    height: auto;
    position: static;

    .content-wrapper {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .left {
      display: none;
    }

    .right {
      width: 100%;
      float: none;
    }

    h5 {
      font-size: calculateRem(14px);
    }

    #language-picker{
      top: 0px;

      li{
        margin-left: 5px;
      }
    }
  }
  /*endregion TOPBAR*/

  /*region HEADER*/
  #show-nav {
    top: $baseMarginMobile;
    left: $baseMarginMobile;
  }

  #nav {
    #hide-nav {
      top: $baseMarginMobile;
      right: $baseMarginMobile;
    }
  }
  /*endregion HEADER*/

  /*region FOOTER*/
  #labels {
    .left, .right {
      width: 100%;
      float: none;
      text-align: center;

      a {
        margin: $baseMarginMobile/2;
      }
    }

    .left {
      a img {
        max-height: 40px;
      }
    }

    .right {
      a img {
        max-height: 30px;
      }
    }
  }

  #footer {
    background-size: 100% auto;
    padding-bottom: 50px;

    .footer-block, .footer-block.second{
      width: 100%;
      float: none;

      .footer-block-row {
        margin-bottom: $baseMarginMobile;
      }

      .footer-block-column {
        width: 100%;
        float: none;
        margin-bottom: $baseMarginMobile;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  #bottom-bar {
    font-size: calculateRem(12px);
  }
  /*endregion FOOTER*/

  /*region SLIDER*/
  .slider {
    padding-bottom: 30px + 2 * $baseMarginMobile;

    .slide-nav {
      width: 30px;
      height: 30px;
      font-size: calculateRem(30px);

      margin-top: 0px;
      top: initial;
      bottom: $baseMarginMobile;
    }
  }
  /*endregion SLIDER*/

  /*region HERO*/
  .hero {
    padding: 40px 0px;
    .logo-holder {
      margin-bottom: $baseMarginMobile;
      max-width: 120px;
    }

    h2 {
      font-size: calculateRem(16px);
    }

    .slider {
      padding-bottom: 0px;

      .slide-nav {
        bottom: $baseMargin;
      }
    }
  }
  /*endregion HERO*/

  /*region BREADCRUMBS*/
  .breadcrumbs {
    > .content-wrapper {
      padding: 5px $baseMarginMobile;
      background-color: $turqoise;
      color: $blue;
      border-bottom: 0px;
    }
  }
  /*endregion BREADCRUMBS*/

  /*region REVIEWS*/
  .reviews {
    > .content-wrapper {
      padding-top: $baseMarginMobile*2;
      padding-bottom: $baseMarginMobile*2;
    }

    .review {
      .quote {
        font-size: calculateRem(20px);
        line-height: 1.5;
      }

      .author {
        font-size: calculateRem(20px);
      }
    }
  }
  /*endregion REVIEWS*/

  /*region ACCOMMODATION-PREVIEW*/
  .accommodation-preview {
    margin-bottom: $baseMarginMobile;
    padding-bottom: $baseMarginMobile;

    .left, .right {
      width: 100%;
      float: none;
      padding: 0px;
    }

    .left {
      margin-bottom: $baseMargin;
    }

    .bottom {
      .bottom-left, .bottom-right {
        width: 100%;
        float: none;
      }

      .bottom-left {
        text-align: right;
        margin-bottom: $baseMarginMobile;
      }
    }
  }
  /*endregion ACCOMMODATION-PREVIEW*/

  /*region FORMS*/
  .period, .family{
    .input-field {
      width: 100%;
      float: none;
      padding-right: 0px;

      &:last-child{
        margin-bottom: $baseMargin;
      }
    }
  }

  .frm_submit {
    margin-bottom: $baseMarginMobile;
  }
  /*endregion FORMS*/

  /*region QUICKBOOKER*/
  #quick-booking {
    margin-top: 0px;

    .button {
      @include border-radius(0px);
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  /*endregion QUICKBOOKER*/
}
