html, body {
  font-size: $bodyFontSize;
  font-family: $bodyFont;
  color: $bodyFontColor;
  line-height: 1.6;
}

.content-wrapper {
  width: 100%;
  max-width: $maxSiteWidth;
  margin: 0 auto;
  padding: $baseMargin;
  @include clearfix;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fancyFont;
  text-transform: uppercase;
  line-height: 1;

  .sub {
    color: $bodyFontColor;
  }

  &.turqoise, .sub.turqoise {
    color: $turqoise;
  }

  &.red, .sub.red{
    color: $red;
  }

  &.green, .sub.green{
    color: $green;
  }

  &.blue, .sub.blue{
    color: $blue;
  }

  &.white, .sub.white{
    color: white;
  }
}

h1 {
  font-size: calculateRem(92px);
  font-weight: $fancyExtraBold;
  display: block;
  margin-bottom: $baseMargin;

  .sub {
    font-size: calculateRem(34px);
    font-weight: $fancyRegular;
    display: block;
  }
}

h2 {
  font-size: calculateRem(43px);
  font-weight: $fancyExtraBold;
  display: block;
  margin-bottom: $baseMargin;

  .sub {
    font-size: calculateRem(25px);
    font-weight: $fancyRegular;
    display: block;
  }
}

h3 {
  font-size: calculateRem(28px);
  font-weight: $fancyExtraBold;
  display: block;
  margin-bottom: $baseMargin;

  .sub {
    font-size: calculateRem(23px);
    font-weight: $fancyRegular;
    display: block;
  }
}

h4 {
  font-size: calculateRem(23px);
  font-weight: $fancyExtraBold;
  display: block;
  margin-bottom: $baseMargin;

  .sub {
    font-size: calculateRem(21px);
    font-weight: $fancyRegular;
    display: block;
  }
}

h5 {
  font-size: calculateRem(18px);
  font-weight: $fancyExtraBold;
  display: block;
  margin-bottom: $baseMargin;

  .sub {
    font-size: calculateRem(19px);
    font-weight: $fancyRegular;
    display: block;
  }
}
