html, body {
  font-size: $bodyFontSize;
  font-family: $bodyFont;
  color: $bodyFontColor;
  line-height: 1.6;
}

.content-wrapper {
  width: 100%;
  max-width: $maxSiteWidth;
  margin: 0 auto;
  padding: $baseMargin;
  @include clearfix;
}

* {
  box-sizing: border-box;
}

.clearfix {
  @include clearfix;
}
