html, body {
  font-size: $bodyFontSize;
  font-family: $bodyFont;
  color: $bodyFontColor;
  line-height: 1.6;
}

.show-on-mobile {
  display: none!important;
}

.content-wrapper {
  width: 100%;
  max-width: $maxSiteWidth;
  margin: 0 auto;
  padding: $baseMargin;
  @include clearfix;

  &.no-top {
    padding-top: 0px;
  }

  &.narrow{
    padding: $baseMargin/2;
  }
}

* {
  box-sizing: border-box;
}

.clearfix {
  @include clearfix;
}
