/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hv7i2s");
  src: url("../fonts/icomoon.eot?hv7i2s#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hv7i2s") format("truetype"), url("../fonts/icomoon.woff?hv7i2s") format("woff"), url("../fonts/icomoon.svg?hv7i2s#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-plus:before {
  content: "\f067"; }

.icon-question:before {
  content: "\f128"; }

.icon-minus:before {
  content: "\f068"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-user:before {
  content: "\f007"; }

.icon-check:before {
  content: "\f00c"; }

.icon-close:before {
  content: "\f00d"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-times:before {
  content: "\f00d"; }

.icon-repeat:before {
  content: "\f01e"; }

.icon-rotate-right:before {
  content: "\f01e"; }

.icon-refresh:before {
  content: "\f021"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-circle:before {
  content: "\f055"; }

.icon-minus-circle:before {
  content: "\f056"; }

.icon-times-circle:before {
  content: "\f057"; }

.icon-check-circle:before {
  content: "\f058"; }

.icon-question-circle:before {
  content: "\f059"; }

.icon-info-circle:before {
  content: "\f05a"; }

.icon-exclamation-circle:before {
  content: "\f06a"; }

.icon-exclamation-triangle:before {
  content: "\f071"; }

.icon-warning:before {
  content: "\f071"; }

html, body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #525252;
  line-height: 1.6; }

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }
  .content-wrapper:after {
    content: "";
    display: table;
    clear: both; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#top-bar {
  background-color: #c8e3dc;
  color: #426b6f;
  height: 42px; }
  #top-bar .content-wrapper {
    padding-top: 10px;
    padding-bottom: 10px; }
  #top-bar .left, #top-bar .right {
    float: left;
    width: 50%;
    min-height: 10px; }
    #top-bar .left.right, #top-bar .right.right {
      text-align: right; }
  #top-bar h5 {
    font-size: 1.22222rem;
    margin-bottom: 0px; }
  #top-bar strong, #top-bar a {
    font-weight: 800; }
  #top-bar a {
    color: #ca303c;
    text-decoration: none; }

#nav {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 100%;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.22222rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }
  #nav .content-wrapper {
    padding: 0px 20px; }
  #nav ul {
    list-style: none; }
  #nav .menu-main-container > ul > li {
    display: inline-block;
    position: relative; }
    #nav .menu-main-container > ul > li > a {
      padding: 20px;
      color: White;
      text-decoration: none;
      border-top: 0px solid #ca303c;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      display: block; }
    #nav .menu-main-container > ul > li.current-menu-item > a, #nav .menu-main-container > ul > li > a:hover {
      color: #eec633;
      padding-top: 16px;
      border-top: 4px solid #eec633; }
    #nav .menu-main-container > ul > li .sub-menu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 250px;
      top: 100%;
      left: 50%;
      margin-left: -125px;
      background-color: #eec633;
      color: White;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -moz-transform: translateY(40px);
      -o-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
      -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }
      #nav .menu-main-container > ul > li .sub-menu:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #eec633;
        position: absolute;
        top: 0%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px; }
      #nav .menu-main-container > ul > li .sub-menu li {
        border-bottom: 1px solid #ca303c; }
        #nav .menu-main-container > ul > li .sub-menu li a {
          color: #ca303c;
          display: block;
          text-decoration: none;
          padding: 6.66667px;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out; }
        #nav .menu-main-container > ul > li .sub-menu li:hover a {
          color: White;
          background-color: #ca303c; }
        #nav .menu-main-container > ul > li .sub-menu li:last-child {
          border-bottom: 0px; }
    #nav .menu-main-container > ul > li:hover .sub-menu {
      visibility: visible;
      opacity: 1;
      -moz-transform: translateY(0px);
      -o-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }

#footer {
  background: url(../img/footer-bg.png) no-repeat #c8e3dc bottom right;
  color: #426b6f; }
  #footer ul.horizontal li {
    opacity: 1;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; }
  #footer ul.horizontal:hover li {
    opacity: 0.5; }
    #footer ul.horizontal:hover li:hover {
      opacity: 1; }
  #footer .footer-block-row {
    margin-bottom: 20px; }
    #footer .footer-block-row:after {
      content: "";
      display: table;
      clear: both; }
    #footer .footer-block-row:last-child {
      margin-bottom: 0px; }
  #footer .footer-block {
    width: 60%;
    float: left; }
    #footer .footer-block .footer-block-column {
      float: left;
      width: 50%; }
    #footer .footer-block.second {
      width: 40%; }

#bottom-bar {
  background-color: #426b6f;
  color: #c8e3dc;
  text-align: center;
  font-size: 0.88889rem; }

.section-intro {
  text-align: center; }

.section {
  display: table;
  width: 100%; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section .block {
    width: 50%;
    display: table-cell;
    vertical-align: top; }
    .section .block.red {
      background-color: #ca303c;
      color: White; }
    .section .block.yellow {
      background-color: #eec633;
      color: White; }
    .section .block.turqoise {
      background-color: #c8e3dc;
      color: White; }
    .section .block.green {
      background-color: #a0a433;
      color: White; }
    .section .block.blue {
      background-color: #426b6f;
      color: White; }
    .section .block.white {
      background-color: white; }
    .section .block.image {
      position: relative;
      background-color: #426b6f;
      overflow: hidden;
      background-size: cover; }
      .section .block.image img {
        opacity: 0;
        /*position: absolute;
        top: 0%;
        left: 0%;
        width: auto;
        height: 100%;*/ }
    .section .block .content-wrapper {
      margin: 0;
      max-width: 600px;
      padding-top: 40px;
      padding-bottom: 40px; }
    .section .block:first-child .content-wrapper {
      margin-left: auto; }

.box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden; }
  .box img {
    width: 100%;
    height: auto; }
  .box.red {
    background-color: #ca303c; }
  .box.yellow {
    background-color: #eec633; }
  .box.turqoise {
    background-color: #c8e3dc; }
  .box.green {
    background-color: #a0a433; }
  .box.blue {
    background-color: #426b6f; }
  .box.white {
    background-color: white; }

.button {
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1.44444rem;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  color: White;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; }
  .button:last-child {
    margin-bottom: 0px; }
  .button i {
    position: relative;
    top: 2px;
    margin-left: 20px; }
    .button i.first {
      margin-left: 0px;
      margin-right: 20px; }
  .button.small {
    padding: 10px;
    font-size: 1rem; }
    .button.small i {
      margin-left: 10px; }
      .button.small i.first {
        margin-left: 0px;
        margin-right: 10px; }
  .button.red {
    background-color: #ca303c; }
    .button.red:hover {
      background-color: #a12630; }
  .button.yellow {
    background-color: #eec633; }
    .button.yellow:hover {
      background-color: #dcb112; }
  .button.turqoise {
    background-color: #c8e3dc;
    color: #426b6f; }
    .button.turqoise:hover {
      background-color: #a6d2c6; }
  .button.green {
    background-color: #a0a433; }
    .button.green:hover {
      background-color: #7a7d27; }
  .button.blue {
    background-color: #426b6f; }
    .button.blue:hover {
      background-color: #2f4c4f; }
  .button.white {
    background-color: white; }
    .button.white:hover {
      background-color: #e6e6e6; }

ul.usps {
  font-size: 1.44444rem;
  font-family: "Dosis", sans-serif; }
  ul.usps i {
    position: relative;
    top: 2px;
    margin-right: 5px; }
  ul.usps.white {
    color: White; }

ul {
  list-style: circle;
  margin-left: 20px; }

ul.horizontal li, ol.horizontal li {
  display: inline-block;
  margin-right: 10px; }

.hero {
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 80px 0; }
  .hero .logo-holder {
    margin-bottom: 20px;
    display: block; }
  .hero .logo {
    width: 300px;
    height: auto;
    margin: 0 auto; }
    .hero .logo.small {
      width: 200px; }
  .hero h1, .hero h2 {
    color: White;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }
  .hero h2 {
    font-weight: 400; }

.rating-holder {
  width: 220px;
  height: 32px;
  display: block;
  position: relative;
  background: url("../img/rating.png") no-repeat transparent top left;
  left: -4px;
  margin-bottom: 10px; }
  .rating-holder .rating {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url("../img/rating.png") no-repeat transparent bottom left; }
  .rating-holder.white, .rating-holder.white .rating {
    background-image: url("../img/rating-white.png"); }

.column-holder {
  margin-left: -20px;
  margin-right: -20px; }
  .column-holder:after {
    content: "";
    display: table;
    clear: both; }
  .column-holder .column {
    float: left; }
    .column-holder .column > .content-wrapper {
      padding-top: 0px;
      padding-bottom: 0px; }
    .column-holder .column.third {
      width: 33.33%; }
    .column-holder .column.half {
      width: 50%; }
    .column-holder .column.main {
      width: 75%; }
    .column-holder .column.aside {
      width: 25%; }
    .column-holder .column.single-narrowed {
      float: none;
      width: 75%;
      margin: 0 auto; }

.slider {
  position: relative;
  overflow: hidden; }
  .slider .slides {
    position: relative;
    left: 0;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; }
    .slider .slides:after {
      content: "";
      display: table;
      clear: both; }
  .slider .slide {
    float: left; }
  .slider .slide-nav {
    position: absolute;
    font-size: 2.22222rem;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 50%;
    margin-top: -20px; }
    .slider .slide-nav.previous {
      left: 0px; }
    .slider .slide-nav.next {
      right: 0px; }

.reviews > .content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px; }

.reviews .review {
  text-align: center; }
  .reviews .review .rating-holder {
    margin: 0 auto 20px auto; }
  .reviews .review .quote {
    font-size: 2rem;
    line-height: 38px;
    font-family: "Caveat Brush", cursive;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .reviews .review .author {
    font-size: 1.44444rem;
    font-famiy: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    display: block; }
    .reviews .review .author span {
      font-weight: 400; }
  .reviews .review .source {
    display: block;
    font-size: 0.66667rem;
    color: #c8e3dc;
    text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  line-height: 1; }
  h1 .sub, h2 .sub, h3 .sub, h4 .sub, h5 .sub, h6 .sub {
    color: #525252; }
  h1.turqoise, h1 .sub.turqoise, h2.turqoise, h2 .sub.turqoise, h3.turqoise, h3 .sub.turqoise, h4.turqoise, h4 .sub.turqoise, h5.turqoise, h5 .sub.turqoise, h6.turqoise, h6 .sub.turqoise {
    color: #c8e3dc; }
  h1.red, h1 .sub.red, h2.red, h2 .sub.red, h3.red, h3 .sub.red, h4.red, h4 .sub.red, h5.red, h5 .sub.red, h6.red, h6 .sub.red {
    color: #ca303c; }
  h1.green, h1 .sub.green, h2.green, h2 .sub.green, h3.green, h3 .sub.green, h4.green, h4 .sub.green, h5.green, h5 .sub.green, h6.green, h6 .sub.green {
    color: #a0a433; }
  h1.yellow, h1 .sub.yellow, h2.yellow, h2 .sub.yellow, h3.yellow, h3 .sub.yellow, h4.yellow, h4 .sub.yellow, h5.yellow, h5 .sub.yellow, h6.yellow, h6 .sub.yellow {
    color: #eec633; }
  h1.blue, h1 .sub.blue, h2.blue, h2 .sub.blue, h3.blue, h3 .sub.blue, h4.blue, h4 .sub.blue, h5.blue, h5 .sub.blue, h6.blue, h6 .sub.blue {
    color: #426b6f; }
  h1.white, h1 .sub.white, h2.white, h2 .sub.white, h3.white, h3 .sub.white, h4.white, h4 .sub.white, h5.white, h5 .sub.white, h6.white, h6 .sub.white {
    color: white; }

h1 {
  font-size: 5.11111rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h1 .sub {
    font-size: 1.88889rem;
    font-weight: 400;
    display: block; }

h2 {
  font-size: 2.38889rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h2 .sub {
    font-size: 1.38889rem;
    font-weight: 400;
    display: block; }

h3 {
  font-size: 1.55556rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h3 .sub {
    font-size: 1.27778rem;
    font-weight: 400;
    display: block; }

h4 {
  font-size: 1.27778rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h4 .sub {
    font-size: 1.16667rem;
    font-weight: 400;
    display: block; }

h5 {
  font-size: 1rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h5 .sub {
    font-size: 1.05556rem;
    font-weight: 400;
    display: block; }

img {
  max-width: 100%;
  height: auto;
  display: block; }
  img.aligncenter {
    margin: 0 auto; }
  img.alignleft {
    margin: 0 auto 0 0; }
  img.alignright {
    margin: 0  0 0 auto; }

p, ul, ol {
  margin-bottom: 20px; }
  p:last-child, p.no-margin, ul:last-child, ul.no-margin, ol:last-child, ol.no-margin {
    margin-bottom: 0px; }
  p strong, p a, ul strong, ul a, ol strong, ol a {
    font-weight: 800; }
  p.aligncenter, ul.aligncenter, ol.aligncenter {
    text-align: center; }
  p.alignleft, ul.alignleft, ol.alignleft {
    text-align: left; }
  p.alignright, ul.alignright, ol.alignright {
    text-align: right; }
  p a, ul a, ol a {
    text-decoration: underline; }

em, .note {
  font-style: italic; }

a:not(.button) {
  text-decoration: none;
  color: #ca303c; }

a:not(.button).smaller, p.smaller, ul.smaller, ol.smaller, strong.smaller, span.smaller {
  font-size: 0.8em;
  font-style: italic; }

a:not(.button).red, p.red, ul.red, ol.red, strong.red, span.red {
  color: #ca303c; }

a:not(.button).blue, p.blue, ul.blue, ol.blue, strong.blue, span.blue {
  color: #426b6f; }

a:not(.button).turqoise, p.turqoise, ul.turqoise, ol.turqoise, strong.turqoise, span.turqoise {
  color: #c8e3dc; }

a:not(.button).white, p.white, ul.white, ol.white, strong.white, span.white {
  color: White; }

a:not(.button).yellow, p.yellow, ul.yellow, ol.yellow, strong.yellow, span.yellow {
  color: #eec633; }

a:not(.button).green, p.green, ul.green, ol.green, strong.green, span.green {
  color: #a0a433; }

hr {
  border: 0px solid #c8e3dc;
  height: 1px;
  background-color: #c8e3dc;
  display: block;
  margin: 20px 0; }

.tag {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  color: white;
  background-color: #a0a433;
  text-transform: uppercase; }
  .tag.category {
    background-color: #426b6f; }

table {
  margin-bottom: 20px;
  width: 100%;
  vertical-align: top;
  table-layout: fixed;
  text-align: left; }
  table thead tr {
    border-bottom: 2px solid #b8b8b8; }
  table tbody tr {
    border-bottom: 1px solid #b8b8b8; }
    table tbody tr:last-child {
      border-bottom: 0px; }
  table th {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 800; }
  table td, table th {
    padding: 20px; }
