/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ceiln1");
  src: url("../fonts/icomoon.eot?ceiln1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ceiln1") format("truetype"), url("../fonts/icomoon.woff?ceiln1") format("woff"), url("../fonts/icomoon.svg?ceiln1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-plus:before {
  content: "\f067"; }

.icon-question:before {
  content: "\f128"; }

.icon-minus:before {
  content: "\f068"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-user:before {
  content: "\f007"; }

.icon-check:before {
  content: "\f00c"; }

.icon-close:before {
  content: "\f00d"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-times:before {
  content: "\f00d"; }

.icon-repeat:before {
  content: "\f01e"; }

.icon-rotate-right:before {
  content: "\f01e"; }

.icon-refresh:before {
  content: "\f021"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-circle:before {
  content: "\f055"; }

.icon-minus-circle:before {
  content: "\f056"; }

.icon-times-circle:before {
  content: "\f057"; }

.icon-check-circle:before {
  content: "\f058"; }

.icon-question-circle:before {
  content: "\f059"; }

.icon-info-circle:before {
  content: "\f05a"; }

.icon-exclamation-circle:before {
  content: "\f06a"; }

.icon-exclamation-triangle:before {
  content: "\f071"; }

.icon-warning:before {
  content: "\f071"; }

/*!
 * Datepicker v1.0.0
 * https://fengyuanchen.github.io/datepicker
 *
 * Copyright 2014-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-08-05T03:02:13.513Z
 */
.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0; }

.datepicker-dropdown {
  border: 1px solid red;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1; }

.datepicker-inline {
  position: static; }

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f; }

.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px; }

.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f; }

.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #fff;
  top: -4px; }

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f; }

.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px; }

.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f; }

.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px; }

.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px; }

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%; }

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table; }

.datepicker-panel > ul::after {
  clear: both; }

.datepicker-panel > ul > li {
  background-color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px; }

.datepicker-panel > ul > li:hover {
  background-color: #e5f2ff; }

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999; }

.datepicker-panel > ul > li.highlighted {
  background-color: #e5f2ff; }

.datepicker-panel > ul > li.highlighted:hover {
  background-color: #cce5ff; }

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f; }

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default; }

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: #e5f2ff; }

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px; }

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px; }

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px; }

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default; }

.datepicker-hide {
  display: none; }

div.datepicker-dropdown {
  border: 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  div.datepicker-dropdown .datepicker-panel > ul > li {
    font-size: 0.77778rem;
    color: #525252; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month prev"], div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month current"], div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month next"] {
      background-color: #ca303c;
      color: White;
      font-size: 18px;
      padding: 5px;
      height: auto; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month prev"]:hover, div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month next"]:hover {
      background-color: #a12630; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month prev"] {
      border-radius: 10px 0px 0px 0px; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month next"] {
      border-radius: 0px 10px 0px 0px; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="month current"] {
      font-family: "Dosis", sans-serif;
      font-weight: 800;
      text-transform: uppercase; }
    div.datepicker-dropdown .datepicker-panel > ul > li[data-view="day"]:hover {
      background-color: #eec633; }
    div.datepicker-dropdown .datepicker-panel > ul > li.highlighted, div.datepicker-dropdown .datepicker-panel > ul > li.picked {
      font-size: 0.77778rem;
      font-weight: bold;
      background-color: #c8e3dc;
      color: #426b6f; }
    div.datepicker-dropdown .datepicker-panel > ul > li.highlighted {
      background-color: #eec633; }
    div.datepicker-dropdown .datepicker-panel > ul > li.muted {
      color: #b8b8b8; }
  div.datepicker-dropdown .datepicker-panel > ul[data-view="week"] > li {
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 0.88889rem;
    color: #426b6f;
    text-transform: uppercase; }

.datepicker-top-left::before,
.datepicker-top-right::before,
.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #ca303c; }

html, body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #525252;
  line-height: 1.6; }

.show-on-mobile {
  display: none !important; }

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }
  .content-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .content-wrapper.no-top {
    padding-top: 0px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  padding-top: 42px; }

#top-bar {
  background-color: #c8e3dc;
  color: #426b6f;
  height: 42px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 500; }
  #top-bar .content-wrapper {
    padding-top: 10px;
    padding-bottom: 10px; }
  #top-bar .left, #top-bar .right {
    float: left;
    width: 50%;
    min-height: 10px; }
    #top-bar .left.right, #top-bar .right.right {
      text-align: right; }
  #top-bar h5 {
    font-size: 1.22222rem;
    margin-bottom: 0px; }
  #top-bar strong, #top-bar a:not(.button) {
    font-weight: 800; }
  #top-bar a:not(.button) {
    color: #ca303c;
    text-decoration: none; }
  #top-bar .button {
    position: relative;
    top: -5px;
    margin-right: 10px; }

#nav {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 100%;
  z-index: 10;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.22222rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }
  #nav .content-wrapper {
    padding: 0px 20px; }
  #nav ul {
    list-style: none;
    margin-left: 0px; }
  #nav .menu-main-container > ul > li {
    display: inline-block;
    position: relative; }
    #nav .menu-main-container > ul > li > a {
      padding: 20px;
      color: White;
      text-decoration: none;
      border-top: 0px solid #ca303c;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      display: block; }
    #nav .menu-main-container > ul > li.current-menu-item > a, #nav .menu-main-container > ul > li > a:hover {
      color: #eec633;
      padding-top: 16px;
      border-top: 4px solid #eec633; }
    #nav .menu-main-container > ul > li > .sub-menu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 250px;
      top: 100%;
      left: 50%;
      margin-left: -125px;
      background-color: #eec633;
      color: White;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -moz-transform: translateY(40px);
      -o-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
      -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }
      #nav .menu-main-container > ul > li > .sub-menu:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #eec633;
        position: absolute;
        top: 0%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px; }
      #nav .menu-main-container > ul > li > .sub-menu li {
        border-bottom: 1px solid #ca303c;
        position: relative; }
        #nav .menu-main-container > ul > li > .sub-menu li a {
          color: #ca303c;
          display: block;
          text-decoration: none;
          padding: 6.66667px;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out; }
        #nav .menu-main-container > ul > li > .sub-menu li:hover > a {
          color: White;
          background-color: #ca303c; }
        #nav .menu-main-container > ul > li > .sub-menu li:last-child {
          border-bottom: 0px; }
        #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu {
          position: absolute;
          width: 250px;
          left: 100%;
          margin: 0px;
          border-left: 5px solid transparent;
          top: 0px;
          visiblity: hidden;
          opacity: 0;
          -moz-transform: translateX(40px);
          -o-transform: translateX(40px);
          -ms-transform: translateX(40px);
          -webkit-transform: translateX(40px);
          transform: translateX(40px);
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5); }
          #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu > li {
            border-bottom: 1px solid #eec633; }
            #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu > li:last-child {
              border-bottom: 0px; }
            #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu > li a {
              color: #eec633;
              background-color: #ca303c; }
              #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu > li a:hover {
                background-color: #eec633;
                color: #ca303c; }
        #nav .menu-main-container > ul > li > .sub-menu li:hover > .sub-menu {
          visibility: visible;
          opacity: 1;
          -moz-transform: translateX(0px);
          -o-transform: translateX(0px);
          -ms-transform: translateX(0px);
          -webkit-transform: translateX(0px);
          transform: translateX(0px); }
    #nav .menu-main-container > ul > li:hover .sub-menu {
      visibility: visible;
      opacity: 1;
      -moz-transform: translateY(0px);
      -o-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }

#footer {
  background: url(../img/footer-bg.png) no-repeat #c8e3dc bottom right;
  color: #426b6f; }
  #footer ul {
    list-style: none;
    margin-left: 0px; }
  #footer ul.horizontal li {
    opacity: 1;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; }
  #footer ul.horizontal:hover li {
    opacity: 0.5; }
    #footer ul.horizontal:hover li:hover {
      opacity: 1; }
  #footer .footer-block-row {
    margin-bottom: 20px; }
    #footer .footer-block-row:after {
      content: "";
      display: table;
      clear: both; }
    #footer .footer-block-row:last-child {
      margin-bottom: 0px; }
  #footer .footer-block {
    width: 60%;
    float: left; }
    #footer .footer-block .footer-block-column {
      float: left;
      width: 50%; }
    #footer .footer-block.second {
      width: 40%; }

#bottom-bar {
  background-color: #426b6f;
  color: #c8e3dc;
  text-align: center;
  font-size: 0.88889rem; }

#labels {
  background-color: white;
  position: relative;
  padding: 4px 0px; }
  #labels .inner {
    border-top: 2px dashed #c8e3dc;
    border-bottom: 2px dashed #c8e3dc; }
  #labels .content-wrapper {
    padding: 15px 20px 5px 20px; }
  #labels .left {
    width: 30%;
    float: left; }
    #labels .left:after {
      content: "";
      display: table;
      clear: both; }
    #labels .left a {
      display: inline-block;
      margin-right: 20px; }
    #labels .left img {
      display: block;
      max-height: 50px;
      width: auto; }
  #labels .right {
    width: 70%;
    float: left;
    padding: 5px 0px;
    text-align: right; }
    #labels .right:after {
      content: "";
      display: table;
      clear: both; }
    #labels .right a {
      display: inline-block;
      margin-left: 20px; }
    #labels .right img {
      display: block;
      max-height: 40px;
      width: auto; }

.section-intro {
  text-align: center; }
  .section-intro.intro-only {
    padding-top: 40px;
    padding-bottom: 40px; }

.section {
  display: table;
  width: 100%; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section .block {
    width: 50%;
    display: table-cell;
    vertical-align: top; }
    .section .block.red {
      background-color: #ca303c;
      color: White; }
    .section .block.yellow {
      background-color: #eec633;
      color: White; }
    .section .block.turqoise {
      background-color: #c8e3dc;
      color: White; }
    .section .block.green {
      background-color: #a0a433;
      color: White; }
    .section .block.blue {
      background-color: #426b6f;
      color: White; }
    .section .block.white {
      background-color: white; }
    .section .block.image {
      position: relative;
      background-color: #426b6f;
      overflow: hidden;
      background-size: cover;
      background-position: center center; }
      .section .block.image img {
        display: none;
        /*position: absolute;
        top: 0%;
        left: 0%;
        width: auto;
        height: 100%;*/ }
    .section .block .content-wrapper {
      margin: 0;
      max-width: 600px;
      padding-top: 40px;
      padding-bottom: 40px; }
    .section .block:first-child .content-wrapper {
      margin-left: auto; }
  .section.blocktype_three-panes .column > .content-wrapper {
    padding-bottom: 0px;
    padding-top: 0px; }
  .section.blocktype_three-panes .column {
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    cursor: pointer; }
  .section.blocktype_three-panes .column-holder:hover .column {
    opacity: 0.8;
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
    .section.blocktype_three-panes .column-holder:hover .column:hover {
      opacity: 1;
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }

.box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .box img {
    width: 100%;
    height: auto; }
  .box.red {
    background-color: #ca303c; }
  .box.yellow {
    background-color: #eec633; }
  .box.turqoise {
    background-color: #c8e3dc; }
  .box.green {
    background-color: #a0a433; }
  .box.blue {
    background-color: #426b6f; }
  .box.white {
    background-color: white; }

.button {
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 1.44444rem;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  color: White;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "Dosis", sans-serif;
  border: 0px;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; }
  .button.disabled {
    cursor: default;
    opacity: 0.5; }
  .button:last-child {
    margin-bottom: 0px; }
  .button:focus {
    outline: 0px; }
  .button i {
    position: relative;
    top: 2px;
    margin-left: 20px;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    left: 0px; }
    .button i.first {
      margin-left: 0px;
      margin-right: 20px; }
  .button:hover i {
    left: 5px; }
  .button.small {
    padding: 10px;
    font-size: 1rem; }
    .button.small i {
      margin-left: 10px; }
      .button.small i.first {
        margin-left: 0px;
        margin-right: 10px; }
  .button.tiny {
    padding: 3px 10px;
    font-size: 0.88889rem; }
    .button.tiny i {
      margin-left: 10px; }
      .button.tiny i.first {
        margin-left: 0px;
        margin-right: 10px; }
  .button.red {
    background-color: #ca303c; }
    .button.red:hover {
      background-color: #a12630; }
  .button.yellow {
    background-color: #eec633; }
    .button.yellow:hover {
      background-color: #dcb112; }
  .button.turqoise {
    background-color: #c8e3dc;
    color: #426b6f; }
    .button.turqoise:hover {
      background-color: #a6d2c6; }
  .button.green {
    background-color: #a0a433; }
    .button.green:hover {
      background-color: #7a7d27; }
  .button.blue {
    background-color: #426b6f; }
    .button.blue:hover {
      background-color: #2f4c4f; }
  .button.white {
    background-color: white; }
    .button.white:hover {
      background-color: #e6e6e6; }

ul.usps {
  font-size: 1.44444rem;
  font-family: "Dosis", sans-serif;
  list-style: none;
  margin-left: 0px; }
  ul.usps i {
    position: relative;
    top: 2px;
    margin-right: 5px; }
  ul.usps.white {
    color: White; }
  ul.usps.small {
    font-size: 1rem; }

ul {
  list-style: circle;
  margin-left: 20px; }

ul.horizontal li, ol.horizontal li {
  display: inline-block;
  margin-right: 10px; }

.hero {
  text-align: center;
  padding: 80px 0;
  position: relative; }
  .hero .slider {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }
    .hero .slider .slide-nav {
      color: White; }
      .hero .slider .slide-nav.previous {
        left: 20px; }
      .hero .slider .slide-nav.next {
        right: 20px; }
    .hero .slider .slides {
      height: 100%; }
    .hero .slider .slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center; }
  .hero > .content-wrapper {
    position: relative;
    z-index: 2; }
  .hero .logo-holder {
    margin: 0 auto 20px auto;
    display: block;
    width: 300px; }
  .hero .logo {
    width: 100%;
    height: auto;
    margin: 0 auto; }
    .hero .logo.small {
      width: 200px; }
  .hero h1, .hero h2 {
    color: White;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }
  .hero h2 {
    font-weight: 400; }

.rating-holder {
  width: 220px;
  height: 32px;
  display: block;
  position: relative;
  background: url("../img/rating.png") no-repeat transparent top left;
  left: -4px;
  margin-bottom: 10px; }
  .rating-holder .rating {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url("../img/rating.png") no-repeat transparent bottom left; }
  .rating-holder.white, .rating-holder.white .rating {
    background-image: url("../img/rating-white.png"); }

.column-holder {
  margin-left: -20px;
  margin-right: -20px; }
  .column-holder:after {
    content: "";
    display: table;
    clear: both; }
  .column-holder .column {
    float: left; }
    .column-holder .column.third {
      width: 33.33%; }
    .column-holder .column.half {
      width: 50%; }
    .column-holder .column.main {
      width: 75%; }
    .column-holder .column.aside {
      width: 25%; }
    .column-holder .column.single-narrowed {
      float: none;
      width: 75%;
      margin: 0 auto; }

.slider {
  position: relative;
  overflow: hidden; }
  .slider .slides {
    position: relative;
    left: 0;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; }
    .slider .slides:after {
      content: "";
      display: table;
      clear: both; }
  .slider .slide {
    float: left; }
  .slider .slide-nav {
    position: absolute;
    font-size: 2.22222rem;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 50%;
    margin-top: -20px;
    z-index: 50; }
    .slider .slide-nav.previous {
      left: 0px; }
    .slider .slide-nav.next {
      right: 0px; }

.input-field, .frm_top_container {
  margin-bottom: 20px; }
  .input-field:last-child, .frm_top_container:last-child {
    margin-bottom: 0px; }

label {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: block; }
  label.white {
    color: White; }

label.checkbox {
  padding-left: 40px;
  position: relative;
  cursor: pointer; }
  label.checkbox input {
    display: none; }
  label.checkbox .check {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    top: 2px;
    left: 0px; }
  label.checkbox input:checked ~ .check:before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    top: 1px;
    left: 1px;
    background-color: #a0a433; }
  label.checkbox .checkbox-info {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 0.88889rem; }

input,
select,
textarea {
  display: block;
  width: 100%;
  background-color: White;
  padding: 10px;
  font-size: 1rem;
  color: #525252;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #b8b8b8; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #b8b8b8; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-style: italic;
    color: #b8b8b8; }
  input::-ms-input-placeholder,
  select::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-style: italic;
    color: #b8b8b8; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    font-style: italic;
    color: #b8b8b8; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }
  .box input, .box
  select, .box
  textarea {
    border: 0px; }
  input.invalid,
  select.invalid,
  textarea.invalid {
    color: #ca303c;
    border-color: #ca303c; }

.input-with-icon {
  position: relative; }
  .input-with-icon i {
    background: url("../img/input-bg.png") no-repeat transparent top left;
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5; }
    .input-with-icon i.date {
      background-position: 0 0; }
    .input-with-icon i.adults {
      background-position: 0 -41px; }
    .input-with-icon i.children {
      background-position: 0 -82px; }
    .input-with-icon i.babies {
      background-position: 0 -164px; }
    .input-with-icon i.pets {
      background-position: 0 -123px; }
  .input-with-icon input {
    padding-left: 41px; }

.number-input {
  position: relative;
  display: block; }
  .number-input .up, .number-input .down {
    cursor: pointer;
    background-color: #93b9ba;
    color: #426b6f;
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 1.22222rem;
    line-height: 32px;
    display: block;
    width: 22px;
    height: 100%;
    max-height: 43px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    position: absolute;
    top: 0px;
    right: 0px; }
    .number-input .up:hover, .number-input .down:hover {
      color: White;
      background-color: #426b6f; }
  .number-input .up {
    border-radius: 0px 5px 5px 0px; }
  .number-input .down {
    border-radius: 5px 0px 0px 5px; }
  .number-input .down {
    right: 22px;
    border-right: 1px solid #426b6f; }

.nf-form-fields-required {
  display: none; }

.frm_message {
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #c8e3dc;
  color: #426b6f; }

.frm_error,
.frm-error {
  font-weight: 800;
  color: #ca303c; }

.frm_submit {
  margin-bottom: 20px; }

#quick-booking {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  margin-top: -75px; }
  #quick-booking input,
  #quick-booking select {
    border: 0px; }

.tab.yellow, .tab-content.yellow {
  background-color: #eec633; }

.tab.green, .tab-content.green {
  background-color: #a0a433; }

.tab.blue, .tab-content.blue {
  background-color: #426b6f; }

.tab {
  display: inline-block;
  border-radius: 10px 10px 0px 0px;
  color: White;
  padding: 10px 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: White !important;
  font-size: 1.44444rem;
  position: relative;
  padding-left: 81px; }
  .tab i {
    width: 41px;
    height: 41px;
    display: block;
    background: url("../img/direct-booking-icons.png") no-repeat transparent top left;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -20px; }
    .tab i.chalet {
      background-position: bottom left; }

.tab-content {
  padding: 20px;
  border-radius: 0 10px 10px 10px;
  display: none; }
  .tab-content:after {
    content: "";
    display: table;
    clear: both; }
  .tab-content.active {
    display: block; }
  .tab-content .input-field {
    float: left;
    padding-right: 10px;
    margin-bottom: 0px; }
    .tab-content .input-field.date, .tab-content .input-field.vehicle, .tab-content .input-field.guests, .tab-content .input-field.submit {
      width: 20%; }
    .tab-content .input-field.accommodation {
      width: 40%; }
    .tab-content .input-field.guests {
      padding-right: 0px; }
      .tab-content .input-field.guests:after {
        content: "";
        display: table;
        clear: both; }
      .tab-content .input-field.guests .counter {
        float: left;
        width: 50%;
        padding-right: 10px; }
    .tab-content .input-field.submit {
      float: right; }
      .tab-content .input-field.submit .button {
        margin-top: 8px;
        margin-right: 0px;
        float: right; }

.accommodation-preview {
  margin-bottom: 20px;
  display: block;
  border-bottom: 1px solid #b8b8b8;
  padding-bottom: 20px; }
  .accommodation-preview:after {
    content: "";
    display: table;
    clear: both; }
  .accommodation-preview.simple {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .accommodation-preview:last-child {
    border-bottom: 0px;
    padding-bottom: 0px; }
  .accommodation-preview .left {
    width: 30%;
    float: left; }
    .accommodation-preview .left img {
      width: auto;
      max-width: 100%;
      margin-bottom: 10px; }
    .accommodation-preview .left ul.images {
      list-style: none;
      margin-left: 0px; }
      .accommodation-preview .left ul.images:after {
        content: "";
        display: table;
        clear: both; }
      .accommodation-preview .left ul.images li {
        width: 25%;
        float: left;
        padding-right: 5px; }
        .accommodation-preview .left ul.images li img {
          margin-bottom: 0px; }
        .accommodation-preview .left ul.images li a.set-image {
          display: block; }
          .accommodation-preview .left ul.images li a.set-image.active {
            border: 2px solid #a0a433; }
  .accommodation-preview .right {
    width: 70%;
    float: right;
    padding: 0px 20px; }
    .accommodation-preview .right h4 {
      margin-bottom: 10px; }
  .accommodation-preview .bottom:after {
    content: "";
    display: table;
    clear: both; }
  .accommodation-preview .bottom .bottom-left {
    display: block;
    float: left;
    width: 50%;
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    font-size: 0.66667rem; }
    .accommodation-preview .bottom .bottom-left strong, .accommodation-preview .bottom .bottom-left span {
      display: block; }
    .accommodation-preview .bottom .bottom-left span {
      color: #b8b8b8; }
    .accommodation-preview .bottom .bottom-left strong {
      font-size: 2rem;
      color: #426b6f; }
  .accommodation-preview .bottom .button {
    float: right; }

#follow {
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 100; }
  #follow #follow-inner {
    width: 50px;
    overflow: visible;
    position: relative; }
  #follow ul {
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px; }
    #follow ul li {
      padding: 5px;
      background-color: #c8e3dc;
      margin-bottom: 5px;
      width: 150px;
      height: 50px;
      border-radius: 10px 0px 0px 10px;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -moz-transform: translateX(0px);
      -o-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
      #follow ul li:after {
        content: "";
        display: table;
        clear: both; }
      #follow ul li:hover {
        -moz-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px); }
      #follow ul li a {
        display: block; }
      #follow ul li img, #follow ul li strong {
        display: block;
        float: left; }
      #follow ul li img {
        width: 40px;
        margin-right: 10px; }
      #follow ul li strong {
        width: 90px;
        color: White;
        font-family: "Dosis", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center; }
        #follow ul li strong span {
          font-size: 0.8em;
          display: block;
          line-height: 1;
          font-weight: normal; }

.breadcrumbs {
  font-size: 0.77778rem; }
  .breadcrumbs > .content-wrapper {
    border-bottom: 1px solid #b8b8b8;
    padding: 10px 0px; }
  .breadcrumbs a {
    font-weight: bold; }
  .breadcrumbs .breadcrumb_last {
    font-weight: bold; }

.reviews > .content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px; }

.reviews .review {
  text-align: center; }
  .reviews .review .rating-holder {
    margin: 0 auto 20px auto; }
  .reviews .review .quote {
    font-size: 2rem;
    line-height: 38px;
    font-family: "Caveat Brush", cursive;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
  .reviews .review .author {
    font-size: 1.44444rem;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    display: block; }
    .reviews .review .author span {
      font-weight: 400; }
  .reviews .review .source {
    display: block;
    font-size: 0.66667rem;
    color: #a0a433;
    text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  line-height: 1; }
  h1 .sub, h2 .sub, h3 .sub, h4 .sub, h5 .sub, h6 .sub {
    color: #525252; }
  h1.handwritten, h2.handwritten, h3.handwritten, h4.handwritten, h5.handwritten, h6.handwritten {
    font-family: "Caveat Brush", cursive;
    font-weight: normal; }
  h1.turqoise, h1 .sub.turqoise, h2.turqoise, h2 .sub.turqoise, h3.turqoise, h3 .sub.turqoise, h4.turqoise, h4 .sub.turqoise, h5.turqoise, h5 .sub.turqoise, h6.turqoise, h6 .sub.turqoise {
    color: #c8e3dc; }
  h1.red, h1 .sub.red, h2.red, h2 .sub.red, h3.red, h3 .sub.red, h4.red, h4 .sub.red, h5.red, h5 .sub.red, h6.red, h6 .sub.red {
    color: #ca303c; }
  h1.green, h1 .sub.green, h2.green, h2 .sub.green, h3.green, h3 .sub.green, h4.green, h4 .sub.green, h5.green, h5 .sub.green, h6.green, h6 .sub.green {
    color: #a0a433; }
  h1.yellow, h1 .sub.yellow, h2.yellow, h2 .sub.yellow, h3.yellow, h3 .sub.yellow, h4.yellow, h4 .sub.yellow, h5.yellow, h5 .sub.yellow, h6.yellow, h6 .sub.yellow {
    color: #eec633; }
  h1.blue, h1 .sub.blue, h2.blue, h2 .sub.blue, h3.blue, h3 .sub.blue, h4.blue, h4 .sub.blue, h5.blue, h5 .sub.blue, h6.blue, h6 .sub.blue {
    color: #426b6f; }
  h1.white, h1 .sub.white, h2.white, h2 .sub.white, h3.white, h3 .sub.white, h4.white, h4 .sub.white, h5.white, h5 .sub.white, h6.white, h6 .sub.white {
    color: white; }
  h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin {
    margin-bottom: 0px; }

h1 {
  font-size: 5.11111rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h1 .sub {
    font-size: 1.88889rem;
    font-weight: 400;
    display: block; }

h2 {
  font-size: 2.38889rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h2 .sub {
    font-size: 1.38889rem;
    font-weight: 400;
    display: block; }

h3 {
  font-size: 1.55556rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h3 .sub {
    font-size: 1.27778rem;
    font-weight: 400;
    display: block; }

h4 {
  font-size: 1.27778rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h4 .sub {
    font-size: 1.16667rem;
    font-weight: 400;
    display: block; }

h5 {
  font-size: 1rem;
  font-weight: 800;
  display: block;
  margin-bottom: 20px; }
  h5 .sub {
    font-size: 1.05556rem;
    font-weight: 400;
    display: block; }

img {
  max-width: 100%;
  height: auto;
  display: block; }
  img.aligncenter {
    margin: 0 auto; }
  img.alignleft {
    float: left;
    margin-right: 20px; }
  img.alignright {
    float: right;
    margin-left: 20px; }

p, ul, ol, table {
  margin-bottom: 20px; }
  p:last-child, p.no-margin, ul:last-child, ul.no-margin, ol:last-child, ol.no-margin, table:last-child, table.no-margin {
    margin-bottom: 0px; }
  p strong, p a, ul strong, ul a, ol strong, ol a, table strong, table a {
    font-weight: 800; }
  p.aligncenter, ul.aligncenter, ol.aligncenter, table.aligncenter {
    text-align: center; }
  p.alignleft, ul.alignleft, ol.alignleft, table.alignleft {
    text-align: left; }
  p.alignright, ul.alignright, ol.alignright, table.alignright {
    text-align: right; }
  p a, ul a, ol a, table a {
    text-decoration: underline; }

em, .note {
  font-style: italic; }

a:not(.button) {
  text-decoration: none;
  color: #ca303c; }

a:not(.button).smaller, p.smaller, ul.smaller, ol.smaller, strong.smaller, span.smaller {
  font-size: 0.8em;
  font-style: italic; }

a:not(.button).red, p.red, ul.red, ol.red, strong.red, span.red {
  color: #ca303c; }

a:not(.button).blue, p.blue, ul.blue, ol.blue, strong.blue, span.blue {
  color: #426b6f; }

a:not(.button).turqoise, p.turqoise, ul.turqoise, ol.turqoise, strong.turqoise, span.turqoise {
  color: #c8e3dc; }

a:not(.button).white, p.white, ul.white, ol.white, strong.white, span.white {
  color: White; }

a:not(.button).yellow, p.yellow, ul.yellow, ol.yellow, strong.yellow, span.yellow {
  color: #eec633; }

a:not(.button).green, p.green, ul.green, ol.green, strong.green, span.green {
  color: #a0a433; }

hr {
  border: 0px solid #c8e3dc;
  height: 1px;
  background-color: #c8e3dc;
  display: block;
  margin: 20px 0; }

.tag {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  color: white;
  background-color: #a0a433;
  text-transform: uppercase; }
  .tag.category {
    background-color: #426b6f; }

table {
  margin-bottom: 20px;
  width: 100%;
  vertical-align: top;
  table-layout: fixed;
  text-align: left; }
  table thead tr {
    border-bottom: 2px solid #b8b8b8; }
  table tbody tr {
    border-bottom: 1px solid #b8b8b8; }
    table tbody tr:last-child {
      border-bottom: 0px; }
  table th {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 800; }
  table td, table th {
    padding: 20px; }

.bwg_thumbnail.bwg_container {
  margin: 0;
  padding: 0; }

#bwg_container1_0 #bwg_container2_0 .bwg-container-0.bwg-album-thumbnails {
  width: 100%;
  padding: 0px;
  -webkit-box-pack: left !important;
  -ms-flex-pack: left !important;
  justify-content: left !important; }

.bwg-item a {
  background-color: #c8e3dc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px; }
  .bwg-item a .bwg-title1 {
    text-align: left;
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px; }

#bwg_container1_0 #bwg_container2_0 .bwg-container-0.bwg-album-thumbnails .bwg-title2 {
  color: #426b6f !important; }

#accommodation-finder-results {
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }
  #accommodation-finder-results.loading {
    opacity: 0.1;
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }

#accommodation-booker form {
  margin-bottom: 20px; }

ul.price-detail {
  list-style: none;
  margin-left: 0px; }
  ul.price-detail li {
    font-size: 0.77778rem;
    padding: 5px 0px; }
    ul.price-detail li:after {
      content: "";
      display: table;
      clear: both; }
    ul.price-detail li span, ul.price-detail li strong {
      float: left; }
    ul.price-detail li span {
      width: 75%; }
    ul.price-detail li strong {
      text-align: right;
      font-weight: bold;
      width: 25%; }
    ul.price-detail li.with-separator {
      border-top: 1px dashed white; }
    ul.price-detail li.hidden {
      display: none; }
    ul.price-detail li.total {
      border-top: 1px solid white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: #eec633; }
      ul.price-detail li.total span, ul.price-detail li.total strong {
        width: 50%; }
    ul.price-detail li.info {
      text-align: right;
      font-size: 0.6em;
      font-style: italic; }

.family:after {
  content: "";
  display: table;
  clear: both; }

.family .input-field {
  width: 25%;
  float: left;
  padding-right: 20px; }

.period:after {
  content: "";
  display: table;
  clear: both; }

.period .input-field {
  width: 50%;
  float: left;
  padding-right: 20px; }

#box-price-detail {
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }
  #box-price-detail.loading {
    opacity: 0.1;
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }

.kids-page .box {
  padding: 10px; }
  .kids-page .box > .content-wrapper {
    padding: 20px 10px;
    border: 6px dotted White; }

.kids-page .block.image {
  position: relative; }
  .kids-page .block.image:before {
    content: '';
    width: 90%;
    height: 90%;
    border: 8px dotted White;
    position: absolute;
    top: 5%;
    left: 5%;
    -moz-transform: rotate(-0.5deg);
    -o-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg); }

@media only screen and (max-width: 730px) {
  body {
    font-size: 16px;
    padding-top: 0px; }
  .show-on-mobile {
    display: block !important; }
  .hide-on-mobile,
  #top-bar,
  #follow {
    display: none; }
  /*region SITE*/
  .content-wrapper {
    padding: 10px; }
  /*endregion SITE*/
  /*region PAGE*/
  h1, h2, h3, h4, h5 {
    margin-bottom: 10px; }
    h1 .sub, h2 .sub, h3 .sub, h4 .sub, h5 .sub {
      font-size: 0.88889rem; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.77778rem; }
  h3 {
    font-size: 1.55556rem; }
  h4 {
    font-size: 1.33333rem; }
  h5 {
    font-size: 1.11111rem; }
  img.alignleft, img.alignright, img.aligncenter {
    margin: 0px 0px 10px 0px;
    float: none;
    width: auto;
    max-width: 100%; }
  p, ul, ol {
    margin-bottom: 10px; }
  /*endregion PAGE*/
  /*region SECTION*/
  .section-intro.intro-only {
    padding: 10px; }
  /*endregion SECTION*/
  /*region COLUMNS*/
  .column-holder {
    margin-left: 0px;
    margin-right: 0px; }
    .column-holder .column {
      float: none;
      margin-bottom: 10px; }
      .column-holder .column.main, .column-holder .column.aside, .column-holder .column.third {
        width: 100%; }
      .column-holder .column > .content-wrapper {
        padding: 0px; }
  .section.blocktype_three-panes .column {
    -o-transition: all 0s linear;
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear; }
  .section.blocktype_three-panes .column-holder:hover .column {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  /*endregion COLUMNS*/
  /*region BLOCKS*/
  .section {
    display: block; }
    .section .block {
      width: 100%;
      display: block; }
      .section .block.image {
        height: 25vh; }
      .section .block .content-wrapper {
        padding: 10px;
        width: 100%;
        max-width: 100%; }
    .section.blocktype_double-half {
      padding-top: 22vh;
      position: relative; }
      .section.blocktype_double-half .block.image {
        height: 22vh;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px; }
  /*endregion BLOCKS*/
  /*region BUTTONS*/
  .button {
    padding: 5px 10px;
    font-size: 1.11111rem;
    margin-bottom: 10px; }
    .button i {
      margin-left: 10px; }
  /*endregion BUTTONS*/
  /*region LISTS*/
  ul.usps {
    font-size: 1.11111rem; }
  /*endregion LISTS*/
  /*region HEADER*/
  #show-nav i, #hide-nav i {
    margin-left: 0px;
    position: initial;
    top: 0px; }
  #show-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 500; }
  #nav {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+50,0+100 */
    background: -moz-linear-gradient(left, black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, black 0%, black 50%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; }
    #nav.open {
      left: 0px; }
      #nav.open #hide-nav {
        right: 10px; }
    #nav #hide-nav {
      position: fixed;
      top: 10px;
      right: -100%;
      z-index: 1001;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out; }
    #nav > .content-wrapper {
      background-color: #ca303c;
      min-height: 100vh;
      width: 75%;
      padding: 0px;
      margin: 0px; }
    #nav .logo-holder {
      display: block;
      padding: 10px; }
      #nav .logo-holder img {
        max-width: 50%;
        margin: 0 auto; }
    #nav .menu-main-container > ul > li {
      display: block;
      width: 100%;
      text-align: left;
      border-top: 1px solid #8c212a; }
      #nav .menu-main-container > ul > li > a {
        font-size: 0.88889rem;
        padding: 5px 10px; }
      #nav .menu-main-container > ul > li.current-menu-item > a, #nav .menu-main-container > ul > li:hover > a {
        padding-top: 5px;
        border-top: 0px; }
      #nav .menu-main-container > ul > li > .sub-menu {
        opacity: 1;
        visibility: visible;
        position: static;
        width: 100%;
        height: auto;
        top: initial;
        left: initial;
        margin-left: 0px;
        background-color: #8c212a;
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        box-shadow: initial;
        -webkit-box-shadow: initial; }
        #nav .menu-main-container > ul > li > .sub-menu:before {
          display: none; }
        #nav .menu-main-container > ul > li > .sub-menu li {
          border-top: 1px solid #ca303c;
          border-bottom: 0px; }
          #nav .menu-main-container > ul > li > .sub-menu li a {
            color: White;
            font-size: 0.88889rem;
            padding: 5px 10px 5px 20px; }
          #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu {
            position: static;
            width: 100%;
            display: block;
            visibility: visible;
            opacity: 1;
            background-color: transparent;
            -moz-transform: translateX(0px);
            -o-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -webkit-transform: translateX(0px);
            transform: translateX(0px);
            border-left: 0px;
            box-shadow: initial;
            -webkit-box-shadow: initial; }
            #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu li {
              border-top: 1px solid #ca303c;
              border-bottom: 0px; }
              #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu li a {
                background-color: transparent;
                font-weight: normal;
                color: White;
                font-size: 0.77778rem;
                padding: 5px 10px 5px 30px; }
                #nav .menu-main-container > ul > li > .sub-menu li > .sub-menu li a:hover {
                  background-color: #ca303c;
                  color: White; }
  /*endregion HEADER*/
  /*region TOPBAR*/
  #top-bar {
    height: auto; }
    #top-bar .content-wrapper {
      padding-top: 5px;
      padding-bottom: 5px; }
    #top-bar .left {
      display: none; }
    #top-bar .right {
      width: 100%;
      float: none; }
    #top-bar h5 {
      font-size: 0.77778rem; }
  /*endregion TOPBAR*/
  /*region FOOTER*/
  #labels .left, #labels .right {
    width: 100%;
    float: none;
    text-align: center; }
    #labels .left a, #labels .right a {
      margin: 5px; }
  #labels .left a img {
    max-height: 40px; }
  #labels .right a img {
    max-height: 30px; }
  #footer {
    background-size: 100% auto;
    padding-bottom: 50px; }
    #footer .footer-block, #footer .footer-block.second {
      width: 100%;
      float: none; }
      #footer .footer-block .footer-block-row, #footer .footer-block.second .footer-block-row {
        margin-bottom: 10px; }
      #footer .footer-block .footer-block-column, #footer .footer-block.second .footer-block-column {
        width: 100%;
        float: none;
        margin-bottom: 10px; }
        #footer .footer-block .footer-block-column:last-child, #footer .footer-block.second .footer-block-column:last-child {
          margin-bottom: 0px; }
  #bottom-bar {
    font-size: 0.66667rem; }
  /*endregion FOOTER*/
  /*region SLIDER*/
  .slider {
    padding-bottom: 50px; }
    .slider .slide-nav {
      width: 30px;
      height: 30px;
      font-size: 1.66667rem;
      margin-top: 0px;
      top: initial;
      bottom: 10px; }
  /*endregion SLIDER*/
  /*region HERO*/
  .hero {
    padding: 40px 0px; }
    .hero .logo-holder {
      margin-bottom: 10px;
      max-width: 120px; }
    .hero h2 {
      font-size: 0.88889rem; }
    .hero .slider {
      padding-bottom: 0px; }
      .hero .slider .slide-nav {
        bottom: 20px; }
  /*endregion HERO*/
  /*region BREADCRUMBS*/
  .breadcrumbs > .content-wrapper {
    padding: 5px 10px;
    background-color: #c8e3dc;
    color: #426b6f;
    border-bottom: 0px; }
  /*endregion BREADCRUMBS*/
  /*region REVIEWS*/
  .reviews > .content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px; }
  .reviews .review .quote {
    font-size: 1.11111rem;
    line-height: 1.5; }
  .reviews .review .author {
    font-size: 1.11111rem; }
  /*endregion REVIEWS*/
  /*region ACCOMMODATION-PREVIEW*/
  .accommodation-preview {
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .accommodation-preview .left, .accommodation-preview .right {
      width: 100%;
      float: none;
      padding: 0px; }
    .accommodation-preview .left {
      margin-bottom: 20px; }
    .accommodation-preview .bottom .bottom-left, .accommodation-preview .bottom .bottom-right {
      width: 100%;
      float: none; }
    .accommodation-preview .bottom .bottom-left {
      text-align: right;
      margin-bottom: 10px; }
  /*endregion ACCOMMODATION-PREVIEW*/
  /*region FORMS*/
  .period .input-field, .family .input-field {
    width: 100%;
    float: none; }
  .frm_submit {
    margin-bottom: 10px; }
  /*endregion FORMS*/
  /*region QUICKBOOKER*/
  #quick-booking {
    margin-top: 0px; }
    #quick-booking .button {
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
  /*endregion QUICKBOOKER*/ }
