$bodyFont: 'Roboto', sans-serif;
$fancyFont: 'Dosis', sans-serif;

$fancyExtraBold: 800;
$fancyBold: 700;
$fancyRegular: 400;

$bodyFontSize: 18px;
$bodyFontColor: #525252;

$baseMargin: 20px;
$maxSiteWidth: 1400px;

$yellow: #eec633;
$red: #ca303c;
$turqoise: #c8e3dc;
$green: #a0a433;
$blue: #426b6f;
