$bodyFont: 'Roboto', sans-serif;
$fancyFont: 'Dosis', sans-serif;
$writtenFont: 'Caveat Brush', cursive;;

$fancyExtraBold: 800;
$fancyBold: 700;
$fancyRegular: 400;

$bodyFontSize: 18px;
$bodyFontColor: #525252;

$baseMargin: 20px;
$baseMarginMobile: 10px;
$maxSiteWidth: 1200px;

$yellow: #eec633;
$red: #ca303c;
$turqoise: #c8e3dc;
$turqoiseDark: #93b9ba;
$green: #a0a433;
$blue: #426b6f;
$lightGrey: lighten($bodyFontColor, 40%);
